<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>API docs!</h1>
    <p>
        Welcome to the API documentation for Learnoo. Here you can find information about the available endpoints, request formats, and response structures.
    </p>

    <a href="https://github.com/OucheneMohamedNourElIslem658/learn_oo/tree/main/docs">Github Docs</a>
</body>
</html>